<div id="cropModal" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,0.7); z-index:999;">
    <div style="background:#111; padding:20px; max-width:500px; margin:50px auto; border-radius:10px;">

        <h3 style="color:white;">Crop Image</h3>

        <img id="cropImage" style="max-width:100%;" />

        <br><br>

        <button id="cropConfirm">Crop</button>
        <button onclick="closeCrop()">Cancel</button>

    </div>
</div>
