<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KISO - Admin</title>
  
    <link href="/css/output.css" rel="stylesheet">

</head>
<body class="min-h-screen flex flex-col bg-white">

    <%- include('../partials/admin/header') %>

    <!-- ✅ Page content will come here -->
    <%- body %>

    <%- include('../partials/admin/footer') %>

</body>
</html>
