<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - KISO</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="h-screen flex flex-col bg-brand-bg1 overflow-hidden">
    <%- include('../partials/admin/header') %>

        <div class="flex flex-1 overflow-hidden">
            <% if (typeof showSidebar !=='undefined' && showSidebar) { %>
                <%- include('../partials/admin/side-bar') %>
                    <% } %>

                        <main class="flex-1 bg-brand-bg2 overflow-y-auto flex flex-col">

                            <div class="flex-grow p-8">
                                <div class="max-w-7xl mx-auto"> <%- body %>
                                </div>
                            </div>

                            <footer class="w-full">
                                <%- include('../partials/admin/footer') %>
                            </footer>

                        </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.13.2/dist/axios.min.js"></script>
        <script src="/js/shared/toast.js"></script>
        <script src="/js/shared/logout.js"></script>
        <script src="/js/shared/sideBar.js"></script>
        <script src="/js/shared/confirm.js"></script>
        <script>
            window.addEventListener('pageshow', function (event) {

                if(event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                    window.location.reload();
                }
            });
        </script>

</body>

</html>