<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KISO - Modern Furniture</title>
   <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-white flex flex-col min-h-screen">

    <%- include('../partials/user/header') %>

    <!-- ✅ Page Content Will Come Here -->
    <%- body %>

    <%- include('../partials/user/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios@1.13.2/dist/axios.min.js"></script>

</body>
</html>
