<nav class="flex items-center justify-between px-4 md:px-8 py-4 bg-white border-b border-gray-100 sticky top-0 z-50">
  <div class="flex items-center gap-3">
    <a href="/admin/dashboard" class="flex items-center gap-2">
      <div class="w-6 h-6 bg-black flex items-end p-1">
          <div class="w-full h-1/2 bg-white"></div>
      </div>
      <span class="text-xl font-bold tracking-tight text-gray-900 uppercase">KISO</span>
    </a>
    <span class="bg-gray-100 text-[10px] font-bold px-2 py-1 rounded text-gray-500 uppercase tracking-widest">Admin</span>
  </div>

 

  <div class="flex items-center gap-4">
    <button class="p-2 text-gray-400 hover:text-black hover:bg-gray-50 rounded-full transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
      </svg>
    </button>

    <div class="flex items-center gap-3 pl-4 border-l border-gray-100">
      <% if (locals.admin){ %>
        <div class="hidden md:block text-right">
            <p class="text-xs font-bold text-gray-900">Admin User</p>
            <a href="/admin/logout" class="text-[10px] text-red-500 hover:underline">Logout</a>
        </div>
        <%} %>
        <div class="w-9 h-9 bg-gray-900 rounded-full flex items-center justify-center text-white text-xs font-bold overflow-hidden shadow-sm">
            AD
        </div>
    </div>
  </div>
</nav>
<script src="/js/side-bar.js"></script>